In [1]:
import pandas as pd
df = pd.read_excel('https://query.data.world/s/5qxp2ldwsel3ow2pq5mkvfas2rfaup')

In [2]:
df.head()

,type,source,date,amount,purpose_scrubbed,property_scrubbed,purpose,property,city,state
0,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2016",9000.00,Rent,Trump Plaza LLC,RENT,TRUMP PLAZA LLC,New York,NY
1,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2016",6000.00,Rent,Trump CPS LLC,RENT,TRUMP CPS LLC,New York,NY
2,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2017",39816.67,Rent,Trump Tower Commercial LLC,RENT,TRUMP TOWER COMMERCIAL LLC,Hicksville,NY
3,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2017",1000.00,Rent,Trump Restaurants LLC,RENT,TRUMP RESTAURANTS LLC,New York,NY
4,government,Department of Defense,"Apr 10, 2017",1422.00,Lodging,Trump Hotel Panama,Hotels-Lodging,Trump International Hotel & Tower Panama,Panama City,Panama

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1193 entries, 0 to 1192
Data columns (total 10 columns):
type                 1193 non-null object
source               1193 non-null object
date                 1188 non-null object
amount               1193 non-null float64
purpose_scrubbed     1193 non-null object
property_scrubbed    1193 non-null object
purpose              1182 non-null object
property             1193 non-null object
city                 1160 non-null object
state                1158 non-null object
dtypes: float64(1), object(9)
memory usage: 93.3+ KB

In [4]:
df.amount.sum()

16085911.68

In [5]:
df['date_new'] = pd.to_datetime(df.date)

In [6]:
df['month'] = df.date_new.dt.to_period("M")

In [7]:
df.head()

,type,source,date,amount,purpose_scrubbed,property_scrubbed,purpose,property,city,state,date_new,month
0,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2016",9000.00,Rent,Trump Plaza LLC,RENT,TRUMP PLAZA LLC,New York,NY,2016-04-01,2016-04
1,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2016",6000.00,Rent,Trump CPS LLC,RENT,TRUMP CPS LLC,New York,NY,2016-04-01,2016-04
2,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2017",39816.67,Rent,Trump Tower Commercial LLC,RENT,TRUMP TOWER COMMERCIAL LLC,Hicksville,NY,2017-04-01,2017-04
3,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2017",1000.00,Rent,Trump Restaurants LLC,RENT,TRUMP RESTAURANTS LLC,New York,NY,2017-04-01,2017-04
4,government,Department of Defense,"Apr 10, 2017",1422.00,Lodging,Trump Hotel Panama,Hotels-Lodging,Trump International Hotel & Tower Panama,Panama City,Panama,2017-04-10,2017-04

In [8]:
df['amount_by_month'] = df.groupby(['month'])['amount'].transform('sum')

In [9]:
df.head()

,type,source,date,amount,purpose_scrubbed,property_scrubbed,purpose,property,city,state,date_new,month,amount_by_month
0,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2016",9000.00,Rent,Trump Plaza LLC,RENT,TRUMP PLAZA LLC,New York,NY,2016-04-01,2016-04,663104.98
1,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2016",6000.00,Rent,Trump CPS LLC,RENT,TRUMP CPS LLC,New York,NY,2016-04-01,2016-04,663104.98
2,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2017",39816.67,Rent,Trump Tower Commercial LLC,RENT,TRUMP TOWER COMMERCIAL LLC,Hicksville,NY,2017-04-01,2017-04,144547.62
3,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2017",1000.00,Rent,Trump Restaurants LLC,RENT,TRUMP RESTAURANTS LLC,New York,NY,2017-04-01,2017-04,144547.62
4,government,Department of Defense,"Apr 10, 2017",1422.00,Lodging,Trump Hotel Panama,Hotels-Lodging,Trump International Hotel & Tower Panama,Panama City,Panama,2017-04-10,2017-04,144547.62

In [10]:
df['amount_by_purpose'] = df.groupby(['purpose'])['amount'].transform('sum')

In [11]:
df.head()

,type,source,date,amount,purpose_scrubbed,property_scrubbed,purpose,property,city,state,date_new,month,amount_by_month,amount_by_purpose
0,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2016",9000.00,Rent,Trump Plaza LLC,RENT,TRUMP PLAZA LLC,New York,NY,2016-04-01,2016-04,663104.98,2271871.86
1,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2016",6000.00,Rent,Trump CPS LLC,RENT,TRUMP CPS LLC,New York,NY,2016-04-01,2016-04,663104.98,2271871.86
2,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2017",39816.67,Rent,Trump Tower Commercial LLC,RENT,TRUMP TOWER COMMERCIAL LLC,Hicksville,NY,2017-04-01,2017-04,144547.62,2271871.86
3,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2017",1000.00,Rent,Trump Restaurants LLC,RENT,TRUMP RESTAURANTS LLC,New York,NY,2017-04-01,2017-04,144547.62,2271871.86
4,government,Department of Defense,"Apr 10, 2017",1422.00,Lodging,Trump Hotel Panama,Hotels-Lodging,Trump International Hotel & Tower Panama,Panama City,Panama,2017-04-10,2017-04,144547.62,147733.41

In [12]:
df['amount_by_source'] = df.groupby(['source'])['amount'].transform('sum')

In [13]:
df.head()

,type,source,date,amount,purpose_scrubbed,property_scrubbed,purpose,property,city,state,date_new,month,amount_by_month,amount_by_purpose,amount_by_source
0,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2016",9000.00,Rent,Trump Plaza LLC,RENT,TRUMP PLAZA LLC,New York,NY,2016-04-01,2016-04,663104.98,2271871.86,13542492.32
1,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2016",6000.00,Rent,Trump CPS LLC,RENT,TRUMP CPS LLC,New York,NY,2016-04-01,2016-04,663104.98,2271871.86,13542492.32
2,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2017",39816.67,Rent,Trump Tower Commercial LLC,RENT,TRUMP TOWER COMMERCIAL LLC,Hicksville,NY,2017-04-01,2017-04,144547.62,2271871.86,13542492.32
3,FEC,"Donald J. Trump for President, Inc.","Apr 1, 2017",1000.00,Rent,Trump Restaurants LLC,RENT,TRUMP RESTAURANTS LLC,New York,NY,2017-04-01,2017-04,144547.62,2271871.86,13542492.32
4,government,Department of Defense,"Apr 10, 2017",1422.00,Lodging,Trump Hotel Panama,Hotels-Lodging,Trump International Hotel & Tower Panama,Panama City,Panama,2017-04-10,2017-04,144547.62,147733.41,147379.50

In [14]:
df.source.value_counts()

Donald J. Trump for President, Inc.                           493
Department of Defense                                         260
Republican National Committee                                  53
America First Action, Inc.                                     38
Department of Commerce                                         34
Trump Victory                                                  18
New Jersey Republican State Committee                          15
Rebuilding America Now                                         14
Stewart for Senate Inc                                         13
Omar Navarro for Congress                                      10
Department of State                                            10
Reinventing a New Direction Political Action Committee          8
Coast Guard                                                     7
Bill Shuster for Congress                                       6
Bold Conservatives PAC                                          6
Greg Pence for Congress                                         5
NRCC                                                            5
NRSC                                                            5
General Services Administration                                 5
Citizens for Turner                                             5
Florida Department of Environmental Protection                  4
Rohrabacher for Congress                                        4
Great America PAC                                               4
Duncan D. Hunter for Congress                                   4
Florida Department of Health                                    3
One Georgia PAC                                                 3
Jet PAC                                                         3
Carly for America                                               3
Family-Pac Federal                                              3
Marino for Congress                                             3
                                                             ...
Bergmann for Congress 2018                                      1
Bob Corker for Senate 2018 Inc                                  1
Republican Campaign Committee of New Mexico                     1
Missouri Republican State Committee-Federal                     1
Trump Make America Great Again Committee                        1
Yoder for Congress, Inc                                         1
Jeff PAC                                                        1
Johnson for Congress                                            1
Kinzinger for Congress                                          1
Florida Department of Children and Families                     1
Ax PAC                                                          1
Neugebauer Congressional Committee                              1
Texans for Lamar Smith                                          1
Florida Department of Business and Professional Regulation      1
Republican Party of Florida                                     1
Pete King for Congress Committee                                1
Elect Blake Farenthold Committee                                1
Randy Hultgren for Congress                                     1
Mckinley for Congress                                           1
Borough of Barrington, New Jersey                               1
NY Republican Federal Campaign Committee                        1
Crenshaw for Congress Campaign                                  1
Tom Rice for Congress                                           1
Republican Federal Committee of Pennsylvania                    1
Florida Department of Corrections                               1
Graves for Congress                                             1
Denham for Congress                                             1
Palazzo for Congress                                            1
Mr. Southern Missourian in the House PAC                        1
Upton for All of Us                                             1
Name: source, Length: 137, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1193 entries, 0 to 1192
Data columns (total 15 columns):
type                 1193 non-null object
source               1193 non-null object
date                 1188 non-null object
amount               1193 non-null float64
purpose_scrubbed     1193 non-null object
property_scrubbed    1193 non-null object
purpose              1182 non-null object
property             1193 non-null object
city                 1160 non-null object
state                1158 non-null object
date_new             1188 non-null datetime64[ns]
month                1188 non-null period[M]
amount_by_month      1188 non-null float64
amount_by_purpose    1182 non-null float64
amount_by_source     1193 non-null float64
dtypes: datetime64[ns](1), float64(4), object(9), period[M](1)
memory usage: 139.9+ KB

In [16]:
df = df[~df.date_new.isna()]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1188 entries, 0 to 1187
Data columns (total 15 columns):
type                 1188 non-null object
source               1188 non-null object
date                 1188 non-null object
amount               1188 non-null float64
purpose_scrubbed     1188 non-null object
property_scrubbed    1188 non-null object
purpose              1182 non-null object
property             1188 non-null object
city                 1155 non-null object
state                1153 non-null object
date_new             1188 non-null datetime64[ns]
month                1188 non-null period[M]
amount_by_month      1188 non-null float64
amount_by_purpose    1182 non-null float64
amount_by_source     1188 non-null float64
dtypes: datetime64[ns](1), float64(4), object(9), period[M](1)
memory usage: 148.5+ KB

In [18]:
df = df[~df.purpose.isna()]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1182 entries, 0 to 1187
Data columns (total 15 columns):
type                 1182 non-null object
source               1182 non-null object
date                 1182 non-null object
amount               1182 non-null float64
purpose_scrubbed     1182 non-null object
property_scrubbed    1182 non-null object
purpose              1182 non-null object
property             1182 non-null object
city                 1150 non-null object
state                1148 non-null object
date_new             1182 non-null datetime64[ns]
month                1182 non-null period[M]
amount_by_month      1182 non-null float64
amount_by_purpose    1182 non-null float64
amount_by_source     1182 non-null float64
dtypes: datetime64[ns](1), float64(4), object(9), period[M](1)
memory usage: 147.8+ KB

In [21]:
pwd

'/Users/yl/Desktop/Lectures - Git/dc-ds-071519/Module-1/week-2/day_9_visualizations_seaborn'